<section class="footer">
    <div class="container">
        <div class="row pb-50">
            <div class="col-md-5">
                <h2>LOGO</h2>
                <p>Lorem ipsum simple dummy text.Lorem ipsum simple dummy text.Lorem ipsum simple dummy text.Lorem ipsum
                    simple dummy text.</p>
            </div>
            <div class="col-md-3 text-center">
                <h2>Usefull Link</h2>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Term and Condition</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Contact:</h2>
                <ul>
                    <li>Address: Dhaka, Bangladesh</li>
                    <li>Address: Dhaka, Bangladesh</li>
                    <li>Address: Dhaka, Bangladesh</li>
                </ul>
            </div>
        </div>
    </div>
</section>