{% extends 'frontend/main.html' %}
{% load static %}
{% block content %}
    <section class="shop-product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <form method="get" class="shop-cat">
                        <div class="filter-block cat-filter">
                            <h4>Category:</h4>
                            <ul>
                                <li>Category-1</li>
                                <li>Category-1</li>
                                <li>Category-1</li>
                                <li>Category-1</li>
                                <li>Category-1</li>
                            </ul>
                        </div>
                        <div class="filter-block price-range">
                            <h4>Price Range:</h4>
                            <input type="number" name="lower" class="lower">
                            <input type="number" name="upper" class="upper">
                        </div>
                        <div class="filter-block color-filter">
                            <h4>Select Color:</h4>
                            <ul>
                                <li>Color 1</li>
                                <li>Color 1</li>
                                <li>Color 1</li>
                                <li>Color 1</li>
                                <li>Color 1</li>
                                <li>Color 1</li>
                            </ul>
                        </div>
                        <div class="filter-block color-filter">
                            <input class="btn btn-danger" type="submit" value="Filter">
                        </div>
                    </form>
                </div>
                <div class="col-md-10">
                    <div class="shop-product">

                        <div class="row">
                            {% if object_list %}
                                {% for f in object_list %}
                                    <div class="col-md-3">
                                        <div class="card" style="width: 18rem;">
                                            <a href="{% url 'product_details' f.pk %}">
                                                <img class="card-img-top" src="{{ f.photo.url }}" alt="Card image cap">
                                            </a>
                                            <div class="card-body">
                                                <h5 class="card-title">{{ f.name }}</h5>
                                                <h6>Price: {{ f.price }}</h6>
                                            </div>
                                            <ul class="list-group list-group-flush product-button">
                                                <li class="list-group-item"><a class="btn btn-danger" href="">Buy
                                                    Now</a></li>
                                                <li class="list-group-item"><a class="btn btn-info" href="">Add Cart</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No featured product found!</p>
                            {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}